/product/phone/build
/product/pc/build
/common/build
/build/
/features/batterycomponent/build/
/features/datetimecomponent/build/
/features/shortcutcomponent/build/
/features/wallpapercomponent/build/
/features/noticeitem/build/
/features/screenlock/build/
/.idea
/.gradle
local.properties
tsconfig.json